body {
    font-family: sans-serif;
    background-color: rgb(223, 207, 186);
    text-align: center;
    color:rgb(96, 77, 51)
}

h1 {
    color: rgb(41, 89, 41); 
    text-align: center; 
}

h2 {
    color: rgb(63, 51, 36);
}

ul {
    list-style-type: none;
    text-align: left;
}

ol {
    text-align: left;
}

p {
    font-size: 20px;
    color:rgb(34, 68, 56);
    border: 2px solid;
    background-color: rgba(69, 129, 69, 0.429);
}

.overview {
    background-color: rgba(54, 50, 20, 0.661);
    text-align: center; 
    border: 2px solid rgb(43, 45, 30);
}

.overview li {
    list-style-type: none;
}

.overview a {
    color: rgb(242, 192, 67); 
    font-size: 20px;
}

#centered-list {
    text-align: center;
}

.soup h2 {
    text-align: center;
}

.chili-img {
    width: 400px;
}

.cake-img {
    width: 400px; 
}

.split-pea-img {
    width: 400px;
}