body {
    font-family: sans-serif;
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    color: rgb(60, 173, 60);  
}


.overview {
    background-color: rgb(61, 115, 97);
    text-align: center; 
    border: 2px solid black;
}

.overview li {
    list-style-type: none;
}

.overview a {
    color: goldenrod; 
    font-size: 20px;
}