body {
    font-family: sans-serif;
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    color: rgb(87, 186, 87);  
}

/* proberen om alle ul en ol te veranderen naar links staande buiten de ul in de index */ 
ul {
    list-style-type: none;
    text-align: left;
}

ol {
    text-align: left;
}

/*The styling for the overview page on index.html*/ 
.overview {
    background-color: rgb(61, 115, 97);
    text-align: center; 
    border: 2px solid black;
}

.overview li {
    list-style-type: none;
}

.overview a {
    color: goldenrod; 
    font-size: 20px;
}

#centered-list {
    text-align: center;
}

/*Working on the split pea soup styling */ 
.split-pea-img {
    width: 400px;
}

.soup-ingr {
    text-align: left;
}

.soup h2 {
    text-align: center;
}

.soup p {
    font-size: 20px;
    color:rgb(61, 115, 97);
    border: 2px solid;
}
